<div *ngIf="book">
  <div class="text-page-container">
    <h2>{{ book.title}}</h2>
    <span *ngFor="let page of book.bookText | paginate: config" [innerHTML]="page">
    </span>
  </div>


  <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
    <div class="reader-pagination">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage()" (click)="p.previous()">
              <i class="angle left icon pager-purple"></i>
            </a>
            <a *ngIf="p.isFirstPage()">
              <i class="disabled angle left icon pager-purple"></i>
            </a>
        </div>

        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <div *ngIf="p.getCurrent() == page.value">
                <input #pager class="pager-inpt" (keyup)="p.setCurrent(pager.value)" value="{{ page.value }}"/>
            </div>
        </div>

        <div class="pagination-next" [class.disabled]="p.isLastPage()">
            <a *ngIf="!p.isLastPage()" (click)="p.next()">
              <i class="angle right icon pager-purple"></i>
            </a>
            <a *ngIf="p.isLastPage()">
              <i class="disabled angle right icon pager-purple"></i>
            </a>
        </div>
    </div>
</pagination-template>
</div>
