/* reader */

h2
  color: #313649
  font-size: 26px
  margin: 40px 0 20px 0
  text-align: center

.text-page-container
  width: 650px
  justify-content: center

.text-page-container span
  font-size: 18px
  line-height: 30px
  color: #000

/* reader-pagination */
.reader-pagination
  margin: 40px 0 0 0
  display: flex
  justify-content: center

.pager-purple
  font-size: 1.4em
  vertical-align: sub
  cursor: pointer
  font-weight: 700
  color: #d46495
  margin: 6px 0 0 0

.pager-inpt
  width: 45px
  background: none
  border: none
  font-size: 1.2em
  font-weight: 700
  color: #383d50
  border-bottom: 2px solid #e4b4de
  padding: 3px 7px
  border-radius: 0
  text-align: center

.pager-inpt:focus
  outline: none
  border-bottom: 2px solid #f6155e
