<md-toolbar color="primary">
    <button color="accent" md-raised-button (click)="sidenav.toggle()">Open sidenav</button>    
</md-toolbar>

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="sidenav-container">
    Jolly good!asdasdasdasd
  </md-sidenav>

  <div class="content">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

        <input type="text" class="form-control" id="name"
               required
               ngModel name="name"
               #name="ngModel">
       
    </form>
    <app-root [master]="master" (onYell)="yell($event)"></app-root>
  </div>

</md-sidenav-container>