
<nav class="primary fixed-toolbar">
  <a routerLink="">
    <img src="assets/logo.svg" height="50" alt="" />
  </a>
  <div class="fill-remaining-space"></div>
  <button md-button (click)="sidebar.toggle()" class="primary">
    <md-icon class="icon-20">menu</md-icon>
  </button>
</nav>


<md-sidenav-layout>

    <md-sidenav #sidebar class="primary" mode="side" align="end">
      <sidebar></sidebar>
    </md-sidenav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

</md-sidenav-layout>
