.primary
  background: #242834
  color: #abbad3

.fill-remaining-space
  flex: 1 1 auto

nav
  display: flex
  padding: 0 0 0 20px
  height: 50px

md-sidenav-layout
  background: #f4f7fc
  min-height: 100vh


md-sidenav
  width: 240px
  height: 100%
  padding: 10px
  border-top: 1px solid #383d50

.container
  display: flex
  justify-content: center

.container-inner
  display: flex
  justify-content: center
  background-color: #fff
