<div class="sidebar-block">
  <div class="sidebar-block-inner sidebar-block-first">
    <span class="ui sidebar-title">"Ніч проти різдва"</span>
    <span class="ui sidebar-book-info">
      <span class="black">автор:</span> Микола Гоголь
    </span>
    <span class="ui sidebar-book-info">
      <span class="black">рік видання:</span> 1905
    </span>
    <span class="ui sidebar-book-info">
      <span class="black">ISBN:</span> 1978-0-670-27266-2
    </span>

    <div class="ui sidebar-page-menu">
      <i class="bookmark icon"></i>
      <i class="quote right icon"></i>
    </div>
  </div>
</div>

<div class="sidebar-block">
  <div class="sidebar-block-inner">
    <span class="sidebar-block-title">Мої книги</span>
  </div>
  <hr noshade size="2" color="#383d50">
  <div class="sidebar-brogress-block">
    <div class="ui book-progress" routerLink="">
        <div class="ui tiny progress">
          <div class="bar" style="width:60%;"></div>
        </div>
      <div class="label">"Ніч проти різдва"</div>
    </div>
    <div class="ui book-progress" routerLink="">
        <div class="ui tiny progress">
          <div class="bar" style="width:30%;"></div>
        </div>
      <div class="label">"Майстер і Маргарита"</div>
    </div>
    <div class="ui book-progress" routerLink="">
        <div class="ui tiny progress" >
          <div class="bar" style="width:50%;"></div>
        </div>
      <div class="label">"Захар Беркут"</div>
    </div>
  </div>
</div>
