<div class="catalog-outer catalog-header">
  <span class="catalog-header-title">Останні книги</span>
  <div class="catalog-line">
    <div class="catalog-line-inner"></div>
  </div>
</div>
<div class="catalog-outer">
  <div *ngFor="let book of books" class="book-card" [routerLink]="['/book', book.id]">
    <img src="{{ book.img }}" alt="Мастер и Маргарита" />
    <div class="book-card-content">
      <span class="book-card-title">{{ book.title }}</span>
      <span class="book-card-author">{{ book.author }}</span>
    </div>
  </div>
</div>
